body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
}

h1 {
    text-align: center;
}

.leftimg {
    float: left;
    margin: 15px 15px 15px 0;
}
.about-me{
    font-size: 18px;
}