body {
    font-family: 'Montserrat', sans-serif;
    background: #b1e5eb;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid black;
}

a {
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: column;
    position: relative;
}

#burger-button {
    position: absolute;
    transition: 0.5s ease-in-out;
    right: 30px;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 18px;
    cursor: url();
}

.open-burger {
    transform: translateY(0%);
}

.open {
    padding: 5px 10px;
    margin: 0 10px;
    white-space: nowrap;
    font-size: 24px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.open:hover {
    opacity: 0.7;
}

header {
    display: flex;
}

#burger-button:hover {
    opacity: 0.7;
}

my-photo {
    width: 300px;
}

p,
li {
    font-size: 18px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: monospace;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main {
    width: 70%;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
}

.about-me,
.education {
    margin: 15px 0;
    font-size: 25px;
}

.section-header {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 20px;
    padding: 10px 0;
}

.projectimg {
    width: 100%;
    display: flex;
    justify-content: center;
}


.section-header {
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main {
    width: 60%;
}

aside {
    width: 100%;
    text-align: center;
}

header {
    flex-direction: column;
    align-items: center;
}

code {
    font-size: 22px;
    text-align: center;
}